* {
  margin: 0;
  padding: 0;
  color: #000;
  letter-spacing: 1px;
  font-weight: 300;
  --lightTealColor: #90c4d5;
  --darkTealColor: #154954;
}

body {
  /* overflow-x: hidden; */
  background-color: #f4f5f6;
}
