
.prm-process:before { content: '\e800'; } /* '' */
.prm-logo:before { content: '\e801'; } /* '' */
.prm-logout:before { content: '\e802'; } /* '' */
.prm-settings:before { content: '\e803'; } /* '' */
.prm-customer:before { content: '\e804'; } /* '' */
.prm-add-doc:before { content: '\e805'; } /* '' */
.prm-dashboard:before { content: '\e806'; } /* '' */
.prm-filter-gray:before { content: '\e807'; } /* '' */
.prm-edit:before { content: '\e808'; } /* '' */
.prm-delete:before { content: '\e809'; } /* '' */
.prm-filter:before { content: '\e80a'; } /* '' */
.prm-disabled_view:before { content: '\e80b'; } /* '' */
.prm-download:before { content: '\e80c'; } /* '' */
.prm-moreoptions:before { content: '\e80d'; } /* '' */
.prm-multiselect:before { content: '\e80e'; } /* '' */
.prm-graph:before { content: '\e80f'; } /* '' */
.prm-mapping:before { content: '\e810'; } /* '' */
.prm-note:before { content: '\e811'; } /* '' */
.prm-painter:before { content: '\e812'; } /* '' */
.prm-options:before { content: '\e813'; } /* '' */
.prm-preview:before { content: '\e814'; } /* '' */
.prm-process2:before { content: '\e815'; } /* '' */
.prm-reset:before { content: '\e816'; } /* '' */
.prm-search:before { content: '\e817'; } /* '' */
.prm-theme:before { content: '\e818'; } /* '' */
.prm-upload:before { content: '\e819'; } /* '' */
.prm-view:before { content: '\e81a'; } /* '' */
.prm-settings-1:before { content: '\e81b'; } /* '' */
